version: "3.4"
services:
  rust-tests:
    command: sh -c /app/entrypoint_test.sh
    build:
      dockerfile: Dockerfile.test
      context: .
      cache_from:
        - rust:1.42.0
    depends_on:
      - rabbit
      - postgres
      - redis
    environment:
      - SERVICE_NAME=http_gateway
      - RABBITMQ_USER=rabbitmq
      - RABBITMQ_PASS=rabbitmq
      - RABBITMQ_HOST=rabbit
      - RABBITMQ_VHOST=staging
      - PG_URL=postgres://postgres:docker@postgres:5432/armore?sslmode=disable
      - REDIS_URL=redis://redis
    volumes:
      - type: bind
        source: ../dbmate/db
        target: /app/db
      - type: bind
        source: ./src
        target: /app/src
      - type: bind
        source: ./Cargo.toml
        target: /app/Cargo.toml
      - type: bind
        source: ./Cargo.lock
        target: /app/Cargo.lock

  # Middleware
  postgres:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: "docker"
      PGPASSWORD: "docker"
    ports:
      - 5432
  
  rabbit:
    image: "rabbitmq:3-management"
    environment:
      RABBITMQ_DEFAULT_USER: "rabbitmq"
      RABBITMQ_DEFAULT_PASS: "rabbitmq"
      RABBITMQ_DEFAULT_VHOST: "staging"
    ports:
      - 15672
      - 5672

  redis:
    image: redis:5.0.6-alpine
    ports:
      - 6379
